body {
  height: 100vh;
}

#title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 280px;
}

#container {
  display: flex;
  height: 60%;
  width: 1088px;
  align-items: flex-start;
  justify-content: flex-end;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#grid {
  display: grid;
  align-items: center;
  /* height: 460px;
  width: 460px;*/
  margin-left: 30px;
}

.box {
  border: black 1px solid;
  width: 15px;
  height: 15px;
  margin: 0 auto;
  margin-top: 0;
  float: left;
}

.row {
  display: block;
  float: left;
  width: 100%;
}
