body {
  height: 100vh;
  background-color: aquamarine;
}

#grid {
  display: grid;
  justify-content: center;
  border: 1px solid #ccc;
}

.box {
  /* removed the initial outline &/or border property here so it can be added and removed (toggled) using JS el.classList.toggle */
  padding: 1em;
}

#title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 230px;
}

#container {
  display: flex;
  height: 60%;
  width: 1204px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* added the following classes to be toggled using JS depending on state of gridBorders button */

.border {
  outline: 1px solid black;
}

.no-border {
  outline: none;
}

.black-bg {
  background: black;
}

.white-bg {
  background: white;
}
