* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #219ebc;
}

#grid {
  display: grid;
  justify-content: center;
  border: 1px solid #ccc;
  width: 40rem;
  height: 40rem;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

#title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 180px;
}

#container {
  display: flex;
  height: 60%;
  width: 1280px;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  padding-top: 20px;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.border {
  outline: 1px solid black;
}

.no-border {
  outline: none;
}

.black-bg {
  background: black;
}

.white-bg {
  background: white;
}

button {
  height: 40px;
  width: 90px;
}

#input-color {
  width: 75px;
}
